.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.gradle/
.sessions/
build/
dist/
example/
node_modules/
out/
public/
ktor-pastebin.iml
yarn-error.log
